# Dependencies
node_modules/
angular/node_modules/

# Build output
dist/
angular/dist/
angular/.angular/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local

